<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187490305574-nuvrp3nskidf1p2q9b91ecv1mmp85lf2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187490305574-nuvrp3nskidf1p2q9b91ecv1mmp85lf2</string>
	<key>API_KEY</key>
	<string>AIzaSyCwdfWpnmIh9JxqZVzhPg7XKDENyDYF2_A</string>
	<key>GCM_SENDER_ID</key>
	<string>187490305574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instantgramCloneCourse</string>
	<key>PROJECT_ID</key>
	<string>instantgram-clone-course-zak</string>
	<key>STORAGE_BUCKET</key>
	<string>instantgram-clone-course-zak.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187490305574:ios:4df65760385f860337c8e7</string>
</dict>
</plist>